.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.left-section{
    display: flex;
    width: 150px;
    align-items: center;
    
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}


.middle-section{
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar{
    flex:1;
    height: 36px;
    padding-left: 12px; 
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 1px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
    /*width set to 0 for shriking*/
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    
}
.search-button{
    cursor: pointer;
    width: 66px;    
    height: 40px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-color: rgb(193, 190, 190);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.voice-button{
    cursor: pointer; 
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
    background-color: rgb(245,245,245);
}



.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    /*flex-shrink set to 0, does not shrink*/
}

.upload-button{
    height: 24px;
    
}

.yt-apps-button{
    height: 24px;
    
}

.noti-button{
    height: 24px;
    
}

.my-cha-button{
    height: 30px;
    border-radius: 15px;
}

