.thumb {
    width: 100%;
    /*if we change the width of the image then the height will also change according to its original dimensions*/
    /*height: 300px;*/
    /*object-fit: cover;*/
    /*object-fit tries to bring the image into its original dimensions after the change of height and width */
    /*object-position: right;*/
    /*object-position: left;*/

    /*object-fit: contain;*/
    /*image fits excatly into its original dimension after the change of its height and width into a container*/

}


/*.vid-title{
            width: 300px;
        } removed this because of overflowing*/

.vid-title {
    margin-top: 0%;
    font-size: 14px;
    font-weight: 500;
    /*semi-bold value os 500*/
    line-height: 20px;
    margin-bottom: 12px;

}

/*.author, .vid-stats{
            display: inline-block;
            /*Stays in same line AND allows width/height*
            /**By default everythinng will have display:block as property
        }*/

.author,
.vid-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);

}

.author {
    margin-bottom: 4px;
}



.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;

}

/* .channel-picture{
            /*display: inline-block;
            width: 50px;
            vertical-align: top;*/
/*removed this shit as grid is better than inline-block and does not cause any alignment problems*/
/*background-color: grey;*/

/*}/*

        .video-info{
            /*display: inline-block;
            width: 200px;*/
/*background-color: grey;*/
/*}*/

.profile-pic {
    width: 95%;
    border-radius: 40px;
    /*for a circle alwasys set border radius to 50%*/

}

.thumb-row {
    margin-bottom: 12px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}